<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static',filename = 'design.css')}}">
    <title>アーティスト一覧</title>
  </head>
  <body>
    <div class = "back">
    <h1>アーティスト一覧</h1>

    {% for artist in a_list %}
    <p>
      <div class = "photo">
	<img src="/~ub123906/dm_app/static/sample.jpg" alt="サンプル画像"　width="100" height="100">
      </div>
      <div class = "button_home"><a href="{{url_for('artist', id=artist.id)}}">{{artist.name}}</a></div><br>
    </p>
    {% endfor %}

    <p>
      <div class = "button"><a href="{{url_for('index')}}">ホームに戻る</a></div>
    </p>
    </div>
  </body>
</html>
