<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{url_for('static',filename = 'design.css')}}">
  <title>マイページ</title>
</head>
<body>
  <div class = "outline">
    <h1>マイページ</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div class = "back">
      <h2>会員情報</h2>
      <table>
	<tbody>
	  <tr>
	    <td>氏名</td>
	    <td>{{ customer.name }}</td>
	  </tr>
	  <tr>
	    <td>メールアドレス</td>
	    <td>{{ customer.email }}</td>
	  </tr>
	  <tr>
	    <td>電話番号</td>
	    <td>{{ customer.phone }}</td>
	  </tr>
	  <tr>
	    <td>住所</td>
	    <td>{{ customer.address }}</td>
	  </tr>
	  <tr>
	    <td>ファンクラブ入会数</td>
	    <td>{{ cnt }}</td>
	</tbody>
      </table>

      <p>
	<div class = "button_sub"><a href="{{ url_for('customer_edit', id=customer.id) }}">編集</a></div><br>
	<div class = "button_sub"><a href="{{ url_for('logout') }}">ログアウト</a></div><br>
	<div class = "button_sub"><a href = "{{ url_for('join_funclub', id = customer.id )}}">新しくファンクラブに入会する</a></div><br>
      </p>
    </div>
    {% for subscription in s_list %}
        <div class = "subscript_information">
          <h2>登録内容</h2>
	  <table>
	    <tbody>
	      <tr>
		<td>会員番号</td>
		<td>{{ subscription.subscription_id }}</td>
	      </tr>
	      <tr>
		<td>グループ名</td>
		<td>{{ subscription.artist_name }}</td>
	      </tr>
	      <tr>
		<td>登録コース</td>
		<td>{{ subscription.course_name }}</td>
	      </tr>
	      <tr>
		<td>コース開始日</td>
		<td>{{ subscription.start_date }}</td>
	      </tr>
	      <tr>
		<td>コース終了日</td>
		<td>{{ subscription.end_date }}</td>
	      </tr>
	      <tr>
		<td><div class = "button"><a href="{{ url_for('customer_del', id=subscription.subscription_id) }}">退会</a></div></td>
	      </tr>
	    </tbody>
	  </table>


          <h3>参加イベント</h3>
	  <table>
	    <thead>
	      <tr>
		<th>イベントタイプ</th>
		<th>イベント名</th>
		<th>参加日</th>
	      </tr>
	    </thead>
	    <tbody>
	      {% for eventparticipation in e_dict[subscription.subscription_id] %}
	      <tr>
		<td>{{ eventparticipation.type_name }}</td>
		<td>{{ eventparticipation.event_name }}</td>
		<td>{{ eventparticipation.participation_date }}</td>
	      </tr>
	      {% endfor %}
	    </tbody>
	  </table>

        </div>
    {% endfor %}
    
  </div>
</body>
</html>
