<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static',filename = 'design.css')}}">
    <title>会員登録</title>
  </head>
  <body>
    <div class = "back">
    <h1>会員登録</h1>
     {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <p>
      <form method="POST" action="{{url_for('customer_add_execute')}}">
        会員番号 <br><input type="text" name="id"><br>
        氏名 <br><input type="text" name="name"><br>
        メールアドレス <br><input type="text" name="email"><br>
        電話番号<br> <input type="text" name="phone"><br>
        住所 <br><input type="text" name="address"><br>
        <input type="submit" value="登録">
      </form><br>
    </p>

    <p>
      <div class = "button"><a href="{{url_for('index')}}">戻る</a></div>
    </p>
    </div>
  </body>
</html>
