<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static',filename = 'design.css')}}">
    <title>ホームページ</title>
  </head>
  <body>
    <h1>ホームページ</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <p>
      <div class = "message">
	<a>x社のホームページへようこそ!!</a>
      </div>
      <div class = "button_home"><a href="{{url_for('artists')}}">所属アーティスト紹介</a></div><br>
      <div class = "button_home"><a href="{{url_for('login')}}">ログイン</a></div><br>
      <div class = "button_home"><a href="{{url_for('customer_add')}}">会員登録</a></div>
      <a>~連絡先~<br>ファンクラブ管理部<br>00-000-000</a>
    </p>
  </body>
</html>
